# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore distribution/build directories
build/
dist/
*.egg-info/
*.swp
*.env.local

# Ignore specific media files
media/plot_polynomial_functions_example_2.svg
media/plot_polynomial_functions_example_3.svg
media/plot_polynomial_functions_example_4.svg
media/plot_polynomial_functions_example_5.svg
media/plot_polynomial_functions_example_6.svg


